<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Vendas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <form action="/action" method="POST" class="form">
            <button type="submit" name="button" value="button2">Vendas</button>
        </form>
        <form action="/action" method="POST" class="form">
            <button type="submit" name="button" value="button1">Backup</button>
        </form>
    </div>
</body>
</html>