<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Inserir Venda</title>
    <link rel="stylesheet" href="/static/style_order.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Inserir Venda</h1>
            <form class="form" action="/sell" method="post">
                <label for="codigo">Código da Venda:</label>
                <input type="text" id="id" name="id" required><br><br>
                
                <label for="valor_total">Valor Total:</label>
                <input type="text" id="total_value" name="total_value" required><br><br>
                
                <label for="funcionario">Código do Funcionário:</label>
                <input type="text" id="employee_id" name="employee_id" required><br><br>
                
                <button type="submit">Terminar Venda</button>
            </form>
        </div>
    </div>
</body>
</html>
