<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Venda Concluída</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Venda Concluída</h1>
            <p>Venda realizada com sucesso!</p>
            <form action="/dashboard" method="get">
                <button type="submit" class="button-dashboard">Dashboard</button>
            </form>
        </div>
    </div>
</body>
</html>
